.b-5{
    bottom: 5px;
}
.b-10{
    bottom: 10px;
}
.b-15{
    bottom: 15px;
}
.b-20{
    bottom: 20px;
}
.b-30{
    bottom: 30px;
}
.b-40{
    bottom: 40px;
}
.b-50{
    bottom: 50px;
}
.b-100{
    bottom: 100px;
}
.b-200{
    bottom: 200px;
}
.b-300{
    bottom: 300px;
}
.b-400{
    bottom: 400px;
}
.b-500{
    bottom: 500px;
}
.b-600{
    bottom: 600px;
}
.b-800{
    bottom: 800px;
}
.b-1000{
    bottom: 1000px;
}