<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>用户登陆</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
  <script type="text/javascript" src="/layui/layui.js"></script>
  <script type="text/javascript" src="/js/vue.js"></script>
  <script type="text/javascript" src="/js/axios.min.js"></script>
  <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/js/jquery.md5.js"></script>
</head>
<body>

  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="#">首页</a>
      </p>
      <div class="sn-quick-menu">
        <div class="login"><a href="login.html">登录</a></div>
        <div class="sp-cart"><a href="shopcart.html">购物车</a><span>2</span></div>
      </div>
    </div>
  </div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="eGo商城">
            <img src="/img/logo.png">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="" class="layui-form" novalidate>
            <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-nav-base  login-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="commodity.html" class="active">所有商品</a>
            <a href="buytoday.html">抢购</a>
            <a href="information.html">热门资讯</a>
            <a href="about.html">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    <div class="login-bg">
      <div class="login-cont w1200">
        <div class="form-box">
          <form class="layui-form" action="" id="loginForm">
            <legend style="padding: 30px">用户登录</legend>
            <div class="layui-form-item">
              <div class="layui-inline iphone">
                <div class="layui-input-inline">
                  <i class="layui-icon layui-icon-username iphone-icon"></i>
                  <input type="tel" name="phone" id="phone" lay-verify="required|phone" placeholder="请输入手机号或邮箱" v-model="account" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-input-inline"   v-if="isPass">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" v-model="password" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-inline veri-code" v-if="!isPass">
                <div class="layui-input-inline">
                  <input id="pnum" type="text" name="pnum" lay-verify="required" placeholder="请输入验证码" v-model="verCode" autocomplete="off" class="layui-input">
                  <input type="button" class="layui-btn" id="find" v-model="verLabel" v-bind:class="verClass" v-bind:disabled="ds" v-on:click="verification" value="" />
                </div>
              </div>

              <div class="layui-form-item">
                <div class=" fl" v-on:click="isPass=!isPass">
                  <input type="checkbox" name="switch" lay-skin="switch">
                </div>
                <label class="layui-form-label fl ml-20" style="padding-left:0px;width: auto; ">使用密码登陆</label>

              </div>
            </div>
            <div class="layui-form-item login-btn">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" v-on:click="userLogin" lay-filter="demo1" onclick="return false">登录</button>
              </div>
            </div>
            <div class="w-200 h-30" >
              <a href="javascript:;;" v-on:click="qqLogin" class="fl" style="display: block"><i class="layui-icon layui-icon-login-qq">QQ登陆</i></a>
              <a href="#" class="fr " style="display: block"><i class="layui-icon layui-icon-login-wechat">微信登陆</i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:;">7天无理由退换货</a>
          <a class="icon2" href="javascript:;">满99元全场免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">                                     
      <p>
        <a href="javascript:;">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">母婴资讯</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">母婴商城版权所有 &copy; 2012-2020</p>
    </div>
  </div>
  <script type="text/javascript">
      var myAxios = axios.create({
          baseURL: 'http://localhost/',
          timeout: 5000,
          headers: {'Content-Type': 'application/json'}
      });
      app=new Vue({
          el: '#loginForm',
          data:{
              account:'',
              isPass:false,
              password:'',
              regType:'0',
              verCode:'',
              verLabel: '验证码',
              totalTime: 5,
              timer:null,
              ds:false,
              verClass:'layui-btn layui-btn-normal'
          },
          methods: {
              verification() {//获取验证码
                  if(!/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(this.account)&&this.regType==0){
                      layer.msg( '请输入正确的手机号');
                      return;
                  }
                  if(!/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(this.account)&&this.regType==1){
                      layer.msg( '请输入正确的邮箱地址');
                      return;
                  }
                  var _this=this;
                  myAxios.get('getVerCode',{
                      params:{
                          account:this.account,
                          regType:this.regType
                      }
                  }).then(function(response) {
                      var data=response.data;
                      var code=data.code;
                      if (code!=200){
                          layer.msg(data.msg);
                          var hisTime=data.data.hisTime;
                          if (hisTime!=null&&hisTime!=undefined){
                              var nowTime=new Date().getTime();
                              _this.totalTime=Math.ceil(60-((nowTime-hisTime)/1000));
                              _this.$options.methods.daojishi(_this);
                          }

                      } else {
                          _this.$options.methods.daojishi(_this);
                          layer.msg(data.msg);
                      }
                  }).catch(function(){
                      layer.msg('出现了不可知问题 QAQ、');
                  });
              },//verification()
              daojishi(_this){
                  _this.verLabel =  "重新获取("+_this.totalTime + ')';
                  _this.ds="disabled";
                  _this.verClass="layui-btn layui-btn-disabled";
                  _this.timer=window.setInterval(()=>{
                      _this.totalTime--;
                      if(_this.totalTime<=0){
                          _this.verLabel = '重新获取';
                          _this.totalTime=5;
                          _this.ds=false;
                          _this.verClass='layui-btn layui-btn-normal';
                          clearInterval(_this.timer);
                      }else
                          _this.verLabel = "重新获取("+_this.totalTime + ')';
                  }, 1000)
              },//daojishi
              qqLogin(){
                  myAxios.get("qq")
                      .then(function (response) {
                          var data=response.data;
                          code=data.code;
                          if (code==200){
                              location.href=data.data.url;
                          }
                      })
              },//qqLogin
              userLogin(){
                  var data={};
                  data.account=this.account;
                  if (this.isPass){
                      data.password=this.password;
                  } else {
                      data.verCode=this.verCode;
                  }
                  myAxios.post("userLogin",{
                      data: data
                  })
              }
          }

      });


   layui.config({
      base: '/js/util' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['jquery','form'],function(){
          var $ = layui.$,form = layui.form;


        $("#find").click(function() {
            if(!/^1\d{10}$/.test($("#phone").val())){
              layer.msg("请输入正确的手机号");
              return false;
            }
            var obj=this;
            $.ajax({
                type:"get",
                url:"../json/login.json",
                dataType:"json",//返回的
                success:function(data) {
                    
                    if(data.result){
                        $("#find").addClass(" layui-btn-disabled");
                        $('#find').attr('disabled',"true");
                        settime(obj);
                        $("#msg").text(data.msg);
                    }else{
                        layer.msg(data.msg);
                    }
                },
                error:function(msg) {
                    console.log(msg);
                }
            }); 
        })

    })
  </script>

</body>
</html>